:root {
  --default-border-color: gray;
  --border-radius: 8px;
  --text-color-going-to-the-playoffs: black;
  --text-color-bottom-seeded: #444;
  --gsw-royal-blue: #006bb6;
  --gsw-gold: #fdb927;
  --gsw-slate: #26282a;
  --bos-green: #008348
}

body {
  font: .75em/1.5 'Berkeley Mono', monospace;
  margin: auto;
  padding: 2rem;
}

h1,
h2 {
  margin: 0;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  border: 1px solid var(--default-border-color);
  border-bottom: none;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  color: white;
  padding: .5rem 0;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

#western-conference > h2 {
  background: rgb(233,81,252);
  background: linear-gradient(45deg, rgba(233,81,252,1) 19%, rgba(247,216,34,1) 81%);
}

#eastern-conference > h2 {
  background: rgb(95,174,183);
  background: linear-gradient(45deg, rgba(95,174,183,1) 19%, rgba(109,125,245,1) 81%);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.flex > div {
  flex: max(360px, 100%/2 - 4rem);
}

ol {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: 1px solid var(--default-border-color);
  line-height: 3;
  list-style-position: inside;
  margin: 0;
  -webkit-mask-image: -webkit-linear-gradient(#000, transparent);
  mask-image: linear-gradient(#000, transparent);
  padding-left: 0;
}

/* Colors from 10 up */
li:nth-child(-n+10) {
  color: var(--text-color-going-to-the-playoffs);
}

/* Styling: 11-15 */
li {
  background-color: lightgray;
  border-top: 1px dotted var(--default-border-color);
  color: var(--text-color-bottom-seeded);
  padding-left: 1rem;
}

/* Styling: 10 and up */
li:nth-child(-n+10) {
  background-color: white;
}

/* 6th seed */
li:nth-child(7) {
  border-top: 2px solid red;
}

/* 10th seed  */
li:nth-child(11) {
  border-top: 3px double var(--default-border-color);
}

li:first-child {
  border-top: none;
}
li:last-child {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

/* Fave Team for each Conference */
.fave-team {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

.fave-team,
.fave-team + li {
  border-top: none;
}

#western-conference .fave-team {
  background-color: var(--gsw-royal-blue);
  color: white;
}

#eastern-conference .fave-team {
  background-color: var(--bos-green);
  color: white;
}

li span {
  border-left: 1px solid var(--default-border-color);
  padding: 0 .67rem;
  float: right;
}

.fave-team span {
  border-left: 1px solid rgba(255, 255, 255, .67);
}