<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <h1>🏀
    <%= pageTitle %>
  </h1>

  <div class="flex">
    <div>
      <h2>Western Conference</h2>
      <ol id="western-conference"></ol>
    </div>
    <div>
      <h2>Eastern Conference</h2>
      <ol id="eastern-conference"></ol>
    </div>
  </div>

  <script>
    fetch('/data')
      .then(response => response.json())
      .then(data => {
        let response = data.response[0];
        let arr = [...response];
        for (let i = 0; i <= arr.length; i++) {
          if (arr[i].group.name == "Western Conference") {
            let ol = document.getElementById("western-conference");
            let li = document.createElement("li");
            let span = document.createElement("span");
            if (arr[i].team.name === "Golden State Warriors") {
              li.classList.add("fave-team-west")
            }
            li.innerHTML = `${arr[i].team.name} <span>${arr[i].games.win.total}-${arr[i].games.lose.total}</span>`;
            ol.appendChild(li)
          }
          if (arr[i].group.name == "Eastern Conference") {
            let ol = document.getElementById("eastern-conference");
            let li = document.createElement("li");
            if (arr[i].team.name === "Boston Celtics") {
              li.classList.add("fave-team-east")
            }

            li.innerHTML = `${arr[i].team.name} <span>${arr[i].games.win.total}-${arr[i].games.lose.total}</span>`;
            ol.appendChild(li)
          }
        }
      });
  </script>
</body>

</html>