<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= pageTitle %>
  </title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="description" content="A simple landing page that displays the current year's NBA standings." />
</head>

<body>

  <h1>
    <%= pageTitle %>
  </h1>

  <div class="flex">
    <div id="western-conference">
      <%- include('../layout/conference', { conference: 'western' }) %>
    </div>
    <div id="eastern-conference">
      <%- include('../layout/conference', { conference: 'eastern' }) %>
    </div>
  </div>
  <script>
    fetch('/conference/west')
      .then(async response => response.json())
      .then(data => {
        const conference = document.getElementById('western-conference-teams');
        data.forEach(team => {
          const li = document.createElement('li');
          if (team.team === "Golden State Warriors") {
            li.classList.add('fave-team-west');
          }
          li.innerHTML = `${team.team} <span>${team.wins}&middot;${team.losses}</span>`;
          conference.appendChild(li);
        });
      });
    fetch('/conference/east')
      .then(async response => response.json())
      .then(data => {
        const conference = document.getElementById('eastern-conference-teams');
        data.forEach(team => {
          const li = document.createElement('li');
          if (team.team === "Boston Celtics") {
            li.classList.add('fave-team-east');
          }
          li.innerHTML = `${team.team} <span>${team.wins}&middot;${team.losses}</span>`;
          conference.appendChild(li);
        });
      });

  </script>
</body>

</html>